---
layout: default
title: Racket
---

<div>
  <h2>Racket</h2>

  <section class="archive_list">
    <table>
      {% for post in site.categories.Racket %}
      <tr>
        <div class="post_title">
          <td>{{ post.date | date: "%F" }}&nbsp;&nbsp;</td>
          <td>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
          </td>
        </div>
      </tr>
      {% endfor %}
    </table>
  </section>

  <!--<footer class="article-footer" mar>
    {% include author.html %}
  </footer>-->
</div>
